In [1]:
import pandas as pd
import numpy as np

In [2]:
apple_app=pd.read_csv("Resources/AppleStore.csv")
apple_app.head()

,Unnamed: 0,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [3]:
android_app=pd.read_csv("Resources/googleplaystore.csv")
android_app.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
apple_app.dtypes

Unnamed: 0            int64
id                    int64
track_name           object
size_bytes            int64
currency             object
price               float64
rating_count_tot      int64
rating_count_ver      int64
user_rating         float64
user_rating_ver     float64
ver                  object
cont_rating          object
prime_genre          object
sup_devices.num       int64
ipadSc_urls.num       int64
lang.num              int64
vpp_lic               int64
dtype: object

In [5]:
android_app.dtypes

App                object
Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
Genres             object
Last Updated       object
Current Ver        object
Android Ver        object
dtype: object

In [6]:
apple=apple_app[['track_name','rating_count_tot','user_rating','prime_genre']]
apple.head()

,track_name,rating_count_tot,user_rating,prime_genre
0,PAC-MAN Premium,21292,4.0,Games
1,Evernote - stay organized,161065,4.0,Productivity
2,"WeatherBug - Local Weather, Radar, Maps, Alerts",188583,3.5,Weather
3,"eBay: Best App to Buy, Sell, Save! Online Shop...",262241,4.0,Shopping
4,Bible,985920,4.5,Reference

In [7]:
android=android_app[['App','Reviews','Rating','Genres']]
android.head()

,App,Reviews,Rating,Genres
0,Photo Editor & Candy Camera & Grid & ScrapBook,159,4.1,Art & Design
1,Coloring book moana,967,3.9,Art & Design;Pretend Play
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",87510,4.7,Art & Design
3,Sketch - Draw & Paint,215644,4.5,Art & Design
4,Pixel Draw - Number Art Coloring Book,967,4.3,Art & Design;Creativity

# Transform the Android Table

In [8]:
android=android.dropna()

In [9]:
#Sort by the name, and observed that there are duplicated apps being rated multiple times i.e same names appears multiple times with the same or different reviews and ratings
android=android.sort_values("App")
#Trim the spaces of all the columns, covert all columns to a string datatype at this point
android['App']=android['App'].str.strip()
android['Reviews']=android['Reviews'].str.strip()
android['Rating']=android['Rating'].astype(str).str.strip()
android['Genres']=android['Genres'].str.strip()
#Change the app name case to a lower case prepare for the further duplicates removal
android['App']=android['App'].str.lower()

In [10]:
#The methodology is if there are duplicated names, we want to take the best reviews and ratings as the result of this app 
#so we created two extra columns and groupby app names to store the max review and ratings
android[['Reviews_max', 'Ratings_max']]=android.groupby('App')['Reviews', 'Rating'].transform('max')
android.head(5)

,App,Reviews,Rating,Genres,Reviews_max,Ratings_max
8532,+download 4 instagram twitter,40467,4.5,Social,40467,4.5
324,- free comics - comic apps,115,3.5,Comics,115,3.5
4541,.r,259,4.5,Tools,259,4.5
4636,/u/app,573,4.7,Communication,573,4.7
5940,058.ba,27,4.4,News & Magazines,27,4.4

In [11]:
#and then we use the max review and ratings as the new review columns and rating columns and prepare for the duplicate removal
new_android=android[['App','Reviews_max','Ratings_max','Genres']]
new_android.head(50)

,App,Reviews_max,Ratings_max,Genres
8532,+download 4 instagram twitter,40467,4.5,Social
324,- free comics - comic apps,115,3.5,Comics
4541,.r,259,4.5,Tools
4636,/u/app,573,4.7,Communication
5940,058.ba,27,4.4,News & Magazines
10252,1. fc kÃ¶ln app,2019,4.6,Sports
1407,10 best foods for you,2490,4.0,Health & Fitness
1393,10 best foods for you,2490,4.0,Health & Fitness
8483,10 minutes a day times tables,681,4.1,Education
7738,10 wpm amateur ham radio cw morse code trainer,10,3.5,Communication
8219,"10,000 quotes db (premium)",70,4.1,Books & Reference
9401,100 doors of revenge,105766,4.1,Puzzle
4030,100+ c programs,20,4.2,Education
8703,"100000+ messages - dp, status, jokes & gif 2018",121,3.7,Lifestyle
4026,101 c programming problems,498,4.6,Education
220,"104 looking for a job - looking for a job, loo...",74359,4.4,Business
2694,11st,48732,3.8,Shopping
5344,12 step meditations & sober prayers aa na al-anon,759,4.7,Lifestyle
6760,17th edition cable sizer,47,4.4,Books & Reference
2543,1800 contacts - lens store,23160,4.7,Medical
2322,1800 contacts - lens store,23160,4.7,Medical
1997,1line â€“ one line with one touch,214878,4.6,Board
7993,2 amateur ham radio cw morse code practice key...,6,4.8,Communication
7666,2-player co-op zombie shoot,33,4.2,Action
7338,20 minuten (ch),14153,3.5,News & Magazines
7330,20 minutes (ch),4379,3.7,News & Magazines
4959,2000 ad comics and judge dredd,705,3.7,Comics
2385,2017 emra antibiotic guide,12,4.4,Medical
2256,2017 emra antibiotic guide,12,4.4,Medical
3448,2018emoji keyboard ðŸ˜‚ emoticons lite -sticker&gif,115773,4.2,Personalization
9809,2019 tricks es file explores,4,3.0,Tools
4272,2048 bts j hope kpop puzzle game,17,4.7,Puzzle
5205,2048(ai),20,4.3,Casual
8004,20wpm amateur ham radio koch cw morse code tra...,12,4.3,Communication
1434,21-day meditation experience,11506,4.4,Health & Fitness
1337,21-day meditation experience,11506,4.4,Health & Fitness
7466,211:ck,8,5.0,Arcade
7475,211:ck lite,3,4.3,Action
6353,24 megapixel hd camera,802,4.0,Photography
7050,24/7 bz reis,421,3.1,Travel & Local
675,"2date dating app, love and matching",41605,4.4,Dating
8653,"2do - reminders, to-do list & notes",4649,4.3,Productivity
3151,2gis: directory & navigator,768833,4.5,Travel & Local
567,2redbeans,337,4.0,Dating
409,2ndline - second phone number,15880,4.2,Communication
4891,30 day ab challenge - lumowell,793,4.8,Health & Fitness
4855,30 day ab challenge,1886,4.5,Health & Fitness
4875,30 day ab challenge free,48253,4.3,Health & Fitness
1267,30 day fitness challenge - workout at home,471036,4.8,Health & Fitness
4897,30-day ab challenge tracker,224,3.5,Health & Fitness

In [12]:
android_table=new_android.drop_duplicates().reset_index(drop=True)
android_table.head(5)

                             App Reviews_max Ratings_max            Genres
0  +download 4 instagram twitter       40467         4.5            Social
1     - free comics - comic apps         115         3.5            Comics
2                             .r         259         4.5             Tools
3                         /u/app         573         4.7     Communication
4                         058.ba          27         4.4  News & Magazines

In [13]:
android_table=android_table.rename(columns={"App":"App Name","Reviews_max":"Total_Reviews","Ratings_max":"Ratings"})

In [14]:
android_table.head(5)

                        App Name Total_Reviews Ratings            Genres
0  +download 4 instagram twitter         40467     4.5            Social
1     - free comics - comic apps           115     3.5            Comics
2                             .r           259     4.5             Tools
3                         /u/app           573     4.7     Communication
4                         058.ba            27     4.4  News & Magazines

In [15]:
#Convert the numerical fields to a number and found the 3.0M gave us an error
android_table['Ratings']=pd.to_numeric(android_table['Ratings'])
android_table['Total_Reviews']=pd.to_numeric(android_table['Total_Reviews'])

ValueError: Unable to parse string "3.0M" at position 4775

In [17]:
#To fix that, we need to change 3.0M to 3,000,000
android_table.loc[android_table.Total_Reviews=='3.0M','Total_Reviews']=3000000

In [18]:
#now we are happy
android_table['Total_Reviews']=pd.to_numeric(android_table['Total_Reviews'])

In [21]:
#Check the data type, it looks awesome!
android_table.dtypes

App Name          object
Total_Reviews      int64
Ratings          float64
Genres            object
dtype: object